.phone-main-view.full-width
    .card(class="mt+")
        table.data-table
            thead
                tr.heading
                    th Name
                    th.hide-sm Papers Published
                    th.text-center Action
                tr
                    td.divider.divider--dark(colspan="4")
            tbody
                tr.empty-row(ng-if="vm.authors.length === 0")
                    td(colspan="4") No Authors found!
                tr.data-table__clickable-row.phone-item(ng-repeat="author in vm.authors")
                    td
                        span {{::author.name}}
                    td.hide-sm
                        span {{::author.documentCount}}
                    td.text-center
                        a.btn.btn--m.btn--blue.btn--fab(
                            ui-sref="root.author.detail({id: author.id})",
                            lx-ripple, lx-tooltip="View Author Info"
                        )
                            i.mdi.mdi-information

