.home-view
    .card.bgc-blue-800.text-center.tc-white(class="p+++")
        h2.title Semantic Web App
        h3.subtitle
            | Giving you awesome suggestions for useful
            br
            | and relevant research papers
        a.btn.btn--green.btn--l.btn--raised(class="mt+", ui-sref="root.dashboard", lx-ripple="white") Find Papers
