.footer
    .toolbar.bgc-blue-grey-500
        p.copyright.tc-white.text-center
            | Copyright &copy; {{::vm.year}}.
            | Michiel Bonnee,
            | Dennis Klein,
            a.tc-white(href="http://www.jaspervanderstoop.nl", target="_blank") Jasper van der Stoop
